# dependencies
node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# build outputs
dist
out
.schema

# misc
.DS_Store
*.pem
Thumbs.db

# svelte-kit
.svelte-kit

# vite
.vite