@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  /** global **/
  --raykit-background: none;
  --raykit-foreground: oklch(0.145 0 0);
  --raykit-popover: oklch(1 0 0);
  --raykit-popover-foreground: oklch(0.145 0 0);
  --raykit-primary: oklch(0.53707 0.16813 255.09);
  --raykit-primary-foreground: oklch(0.985 0 0);
  --raykit-secondary: oklch(0.97 0 0);
  --raykit-secondary-foreground: oklch(0.205 0 0);
  --raykit-muted: oklch(0.93 0 0);
  --raykit-muted-foreground: oklch(0.556 0 0);
  --raykit-accent: oklch(0.97 0 0);
  --raykit-accent-foreground: oklch(0.205 0 0);
  --raykit-backdrop: none;
  --raykit-border: oklch(0.922 0 0);
  /** search **/
  /* --raykit-search-background: inherit; */
  /* --raykit-search-border: oklch(0.922 0 0); */
  /* --raykit-search-foreground: oklch(61.294% 0.25154 29.223); */
  /* --raykit-search-placeholderForeground: oklch(0.556 0 0); */
  /** commands **/
  /* --raykit-commands-background: inherit; */
  /* --raykit-commandsHeading-foreground: oklch(0.922 0 0); */
  /* --raykit-command-hoverBackground: oklch(0.922 0 0); */
  --raykit-command-hoverDeletedBackground: oklch(0.922 0 0);
  --raykit-command-hoverShadow: 4px 4px 6px oklch(0.97 0 0);
  --raykit-command-hoverDeletedShadow: oklch(0.922 0 0);
  /* --raykit-command-activeBackground: oklch(0.922 0 0); */
  --raykit-command-activeShadow: oklch(0.922 0 0);
  --raykit-command-activeDeletedBackground: oklch(0.922 0 0);
  --raykit-command-activeDeletedShadow: oklch(0.922 0 0);
  /* --raykit-commandTitle-foreground: oklch(62.793% 0.25768 29.223); */
  --raykit-commandTitle-deletedForeground: oklch(0.922 0 0);
  /* --raykit-commandSubtitle-foreground: oklch(0.922 0 0); */
  --raykit-commandSubtitle-deletedForeground: oklch(0.922 0 0);
  /* --raykit-commandType-foreground: oklch(0.922 0 0); */
  --raykit-commandType-deletedForeground: oklch(0.922 0 0);
  /* kbd */
  /* --raykit-kdb-background: oklch(0.922 0 0);
  --raykit-kdb-foreground: oklch(0.922 0 0); */
  /* actions */
  /* --raykit-actionsBar-background: inherit; */
  /* --raykit-actionsBar-border: oklch(0.922 0 0); */
  --raykit-actionsPanel-background: oklch(100% 0 271.152);
  --raykit-actionsPopover-backdrop: oklch(0.922 0 0);
  --raykit-actionsPopover-shadow: oklch(0.922 0 0);
  /* notifications */
  --raykit-notifications-background: oklch(0.922 0 0);
  --raykit-notifications-foreground: oklch(0.922 0 0);
}

@theme inline {
  /** global **/
  --color-background: var(--raykit-background);
  --blur-backdrop: var(--raykit-backdrop);
  --color-foreground: var(--raykit-foreground);
  --color-border: var(--raykit-border);
  /** search **/
  --color-search-background: var(--raykit-search-background, var(--raykit-background));
  --color-search-border: var(--raykit-search-border, var(--raykit-border));
  --color-search-foreground: var(--raykit-search-foreground, var(--raykit-foreground));
  --color-search-placeholderForeground: var(--raykit-search-placeholderForeground, var(--raykit-muted-foreground));
  /** commands **/
  --color-commands-background: var(--raykit-commands-background, var(--raykit-background));
  --color-commandsHeading-foreground: var(--raykit-commandsHeading-foreground, var(--raykit-muted-foreground));
  --color-command-hoverBackground: var(--raykit-command-hoverBackground, var(--raykit-accent));
  /** kbd **/
  --color-kdb-background: var(--raykit-kdb-background, var(--raykit-muted));
  --color-kdb-foreground: var(--raykit-kdb-foreground, var(--raykit-muted-foreground));
  /* --shadow-command-hoverShadow: var(--raykit-command-hoverShadow); */
  --color-command-activeBackground: var(--raykit-command-activeBackground, var(--raykit-muted));
  --color-commandTitle-foreground: var(--raykit-commandTitle-foreground, var(--raykit-foreground));
  --color-commandSubtitle-foreground: var(--raykit-commandSubtitle-foreground, var(--raykit-muted-foreground));
  --color-commandType-foreground: var(--raykit-commandType-foreground, var(--raykit-muted-foreground));
  /* actions */
  --color-actionsBar-background: var(--raykit-actionsBar-background, var(--raykit-background));
  --color-actionsBar-border: var(--raykit-actionsBar-border, var(--raykit-border));
  --color-actionsButton-background: var(--raykit-actionsButton-background, var(--raykit-background));
  --color-actionsButton-foreground: var(--raykit-actionsButton-foreground, var(--raykit-accent-foreground));
  --color-actionsButton-hoverBackground: var(--raykit-actionsButton-hoverBackground, var(--raykit-accent));
  --color-actionsButton-activeBackground: var(--raykit-actionsButton-activeBackground, var(--raykit-accent));
  --color-actionsPanel-background: var(--raykit-actionsPanel-background);
}

@layer components {
  .electron-smooth {
    -electron-corner-smoothing: 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html,
  body {
    @apply size-full bg-background;
  }
}
