@import 'tailwindcss';

:root {
  --raykit-background: hsl(0 0% 100%);
}

@theme inline {
  --color-background: var(--raykit-background);
}

@layer base {
  * {
    @apply box-border;
  }
  html,
  body {
    @apply size-full;
  }
}
