@import 'tailwindcss';

:root {
  --raykit-background: oklch(1 0 0);
  --raykit-border: oklch(0.922 0 0);
  /* --raykit-border: oklch(0.65 0.01 0 / 0.2); */
}

@theme inline {
  --color-background: var(--raykit-background);
  --color-border: var(--raykit-border);
}

@layer base {
  * {
    @apply border-border;
  }
  html,
  body {
    @apply size-full;
  }
}
